<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Behavior">
                    <serviceMetadata />
                    <serviceDebug />
                    <dataContractSerializer maxItemsInObjectGraph="1048576" />
                    <serviceThrottling maxConcurrentCalls="50" maxConcurrentSessions="500"
                        maxConcurrentInstances="3" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="EndPointBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="1048576" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="tcpBinding" receiveTimeout="01:10:00" sendTimeout="00:05:00" transactionFlow="false"
                transferMode="Buffered" transactionProtocol="OleTransactions"
                hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                maxBufferPoolSize="524288" maxBufferSize="104857600" maxConnections="10"
                maxReceivedMessageSize="104857600">
                    <readerQuotas maxDepth="32" maxStringContentLength="16384" maxArrayLength="104857600"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service name="Domain.PresentationShow.ShowAgent.ShowAgent" behaviorConfiguration="Behavior">
                <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                    contract="Domain.PresentationShow.ShowCommon.IShowAgent" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:790" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>