<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TechnicalServices.Configuration.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TechnicalServices.Configuration.LoadModules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
          <section name="TechnicalServices.Configuration.Global.Properties.SystemParametersSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TechnicalServices.Configuration.Common.Properties.Settings>
            <setting name="ConfigurationFolder" serializeAs="String">
                <value>ModuleConfiguration</value>
            </setting>
            <setting name="ScenarioFolder" serializeAs="String">
                <value>Presentation</value>
            </setting>
            <setting name="ScenarioSchemaFile" serializeAs="String">
                <value>Presentation\presentation.xsd</value>
            </setting>
            <setting name="LocalSourceFolder" serializeAs="String">
                <value>LocalSources</value>
            </setting>
            <setting name="GlobalSourceFolder" serializeAs="String">
                <value>GlobalSources</value>
            </setting>
            <TechnicalServices.Configuration.LoadModules.Properties.Settings>
                <setting name="ModuleFolder" serializeAs="String">
                    <value>Module</value>
                </setting>
            </TechnicalServices.Configuration.LoadModules.Properties.Settings>
        </TechnicalServices.Configuration.Common.Properties.Settings>
      <TechnicalServices.Configuration.Global.Properties.SystemParametersSettings>
        <setting name="ReloadImage" serializeAs="String">
          <value>image.jpg</value>
        </setting>
        <setting name="BackgroundPresentationUniqueName" serializeAs="String">
          <value>GlobalSources</value>
        </setting>
        <setting name="DefaultWndsize" serializeAs="String">
          <value>800*600</value>
        </setting>
      </TechnicalServices.Configuration.Global.Properties.SystemParametersSettings>
    </applicationSettings>
</configuration>