<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConfiguratorConfiguration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConfiguratorConfiguration.Properties.Settings>
            <setting name="ConfigurationFolder" serializeAs="String">
                <value>ModuleConfiguration</value>
            </setting>
            <setting name="ScenarioFolder" serializeAs="String">
                <value>Presentation</value>
            </setting>
            <setting name="ScenarioSchemaFile" serializeAs="String">
                <value>Presentation\presentation.xsd</value>
            </setting>
            <setting name="LocalSourceFolder" serializeAs="String">
                <value>LocalSources</value>
            </setting>
            <setting name="GlobalSourceFolder" serializeAs="String">
                <value>GlobalSources</value>
            </setting>
            <setting name="ModuleFolder" serializeAs="String">
                <value>Module</value>
            </setting>
            <setting name="ConfigurationFile" serializeAs="String">
                <value>ModuleConfiguration.xml</value>
            </setting>
        </ConfiguratorConfiguration.Properties.Settings>
    </applicationSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Module"/>
        </assemblyBinding>
    </runtime>
</configuration>