<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TechnicalServices.Configuration.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TechnicalServices.Configuration.LoadModules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TechnicalServices.Configuration.Global.Properties.SystemParametersSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TechnicalServices.Configuration.Common.Properties.Settings>
            <setting name="ModuleFolder" serializeAs="String">
                <value>Module</value>
            </setting>
            <setting name="ConfigurationFolder" serializeAs="String">
                <value>ModuleConfiguration</value>
            </setting>
            <setting name="ScenarioFolder" serializeAs="String">
                <value>Presentation</value>
            </setting>
            <setting name="ScenarioSchemaFile" serializeAs="String">
                <value>Presentation\presentation.xsd</value>
            </setting>
            <setting name="LocalSourceFolder" serializeAs="String">
                <value>LocalSources</value>
            </setting>
            <setting name="GlobalSourceFolder" serializeAs="String">
                <value>GlobalSources</value>
            </setting>
            <setting name="PingInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ConfigurationFile" serializeAs="String">
                <value>ModuleConfiguration.xml</value>
            </setting>
            <setting name="DeviceResourceFolder" serializeAs="String">
                <value>DeviceResources</value>
            </setting>
        </TechnicalServices.Configuration.Common.Properties.Settings>
        <TechnicalServices.Configuration.LoadModules.Properties.Settings>
            <setting name="ModuleFolder" serializeAs="String">
                <value>Module</value>
            </setting>
        </TechnicalServices.Configuration.LoadModules.Properties.Settings>
        <TechnicalServices.Configuration.Global.Properties.SystemParametersSettings>
            <setting name="ReloadImage" serializeAs="String">
                <value>image.jpg</value>
            </setting>
            <setting name="BackgroundPresentationUniqueName" serializeAs="String">
                <value>GlobalSources</value>
            </setting>
            <setting name="DefaultWndsize" serializeAs="String">
                <value>800*600</value>
            </setting>
        </TechnicalServices.Configuration.Global.Properties.SystemParametersSettings>
    </applicationSettings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Behavior">
                    <serviceMetadata />
                    <serviceDebug />
                    <dataContractSerializer maxItemsInObjectGraph="1048576" />
                    <serviceThrottling maxConcurrentCalls="50" maxConcurrentSessions="500"
                        maxConcurrentInstances="3" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="EndPointBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="1048576" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="tcpBinding" maxConnections="20" maxBufferSize="104857600" maxReceivedMessageSize="104857600">
                    <reliableSession enabled="false" inactivityTimeout="00:10:00" ordered="true"/>
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="Behavior" name="Domain.PresentationDesign.DesignService.DesignerService">
                <clear />
                <endpoint address="Main" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                 name="Main" contract="Domain.PresentationDesign.DesignCommon.IDesignerService" />
                <endpoint address="Login" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                 name="Login" contract="TechnicalServices.Interfaces.ILoginService" />
                <endpoint address="PresentationService" binding="netTcpBinding"
                 bindingConfiguration="tcpBinding" name="PresentationService"
                 contract="TechnicalServices.Interfaces.IPresentationService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:789/DesignService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>