<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TechnicalServices.Configuration.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TechnicalServices.Configuration.LoadModules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TechnicalServices.Configuration.Global.Properties.SystemParametersSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TechnicalServices.Configuration.Common.Properties.Settings>
            <setting name="ConfigurationFolder" serializeAs="String">
                <value>ModuleConfiguration</value>
            </setting>
            <setting name="ScenarioFolder" serializeAs="String">
                <value>Presentation</value>
            </setting>
            <setting name="ScenarioSchemaFile" serializeAs="String">
                <value>Presentation\presentation.xsd</value>
            </setting>
            <setting name="LocalSourceFolder" serializeAs="String">
                <value>LocalSources</value>
            </setting>
            <setting name="GlobalSourceFolder" serializeAs="String">
                <value>GlobalSources</value>
            </setting>
        </TechnicalServices.Configuration.Common.Properties.Settings>
        <TechnicalServices.Configuration.LoadModules.Properties.Settings>
            <setting name="ModuleFolder" serializeAs="String">
                <value>Module</value>
            </setting>
        </TechnicalServices.Configuration.LoadModules.Properties.Settings>
        <TechnicalServices.Configuration.Global.Properties.SystemParametersSettings>
            <setting name="ReloadImage" serializeAs="String">
                <value>image.jpg</value>
            </setting>
            <setting name="BackgroundPresentationUniqueName" serializeAs="String">
                <value>GlobalSources</value>
            </setting>
            <setting name="DefaultWndsize" serializeAs="String">
                <value>800*600</value>
            </setting>
        </TechnicalServices.Configuration.Global.Properties.SystemParametersSettings>
    </applicationSettings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Behavior">
                    <serviceMetadata />
                    <serviceDebug />
                    <dataContractSerializer maxItemsInObjectGraph="1048576" />
                    <serviceThrottling maxConcurrentCalls="50" maxConcurrentSessions="500"
                        maxConcurrentInstances="3" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="EndPointBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="1048576" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="Main" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="01:10:00" sendTimeout="00:01:00" transactionFlow="false"
                    transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="524288" maxBufferSize="104857600" maxConnections="10"
                    maxReceivedMessageSize="104857600">
                    <readerQuotas maxDepth="32" maxStringContentLength="16384" maxArrayLength="2097152"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="Login" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="01:10:00" sendTimeout="00:01:00" transactionFlow="false"
                    transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="524288" maxBufferSize="104857600" maxConnections="10"
                    maxReceivedMessageSize="104857600">
                    <readerQuotas maxDepth="32" maxStringContentLength="16384" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="PresentationService" closeTimeout="00:05:00" openTimeout="00:05:00"
                    receiveTimeout="01:10:00" sendTimeout="00:05:00" transactionFlow="false"
                    transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="524288" maxBufferSize="104857600" maxConnections="10"
                    maxReceivedMessageSize="104857600">
                    <readerQuotas maxDepth="32" maxStringContentLength="16384" maxArrayLength="104857600"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="ShowService" closeTimeout="00:05:00" openTimeout="00:05:00"
                    receiveTimeout="01:10:00" sendTimeout="00:05:00" transactionFlow="false"
                    transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="524288" maxBufferSize="104857600" maxConnections="10"
                    maxReceivedMessageSize="104857600">
                    <readerQuotas maxDepth="32" maxStringContentLength="16384" maxArrayLength="104857600"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:789/DesignService/Main"
                behaviorConfiguration="EndPointBehavior"
                binding="netTcpBinding" bindingConfiguration="Main"
                contract="Domain.PresentationDesign.DesignCommon.IDesignerService"
                name="Main" />
            <endpoint address="net.tcp://localhost:789/DesignService/Login"
                behaviorConfiguration="EndPointBehavior"
                binding="netTcpBinding" bindingConfiguration="Login"
                contract="TechnicalServices.Interfaces.ILoginService"
                name="Login" />
            <endpoint address="net.tcp://localhost:789/DesignService/PresentationService"
                behaviorConfiguration="EndPointBehavior"
                binding="netTcpBinding" bindingConfiguration="PresentationService"
                contract="TechnicalServices.Interfaces.IPresentationService"
                name="PresentationService" />
            <endpoint address="net.tcp://localhost:789/ShowService/Main"
                behaviorConfiguration="EndPointBehavior"
                binding="netTcpBinding" bindingConfiguration="ShowService"
                contract="Domain.PresentationShow.ShowCommon.IShowCommon"
                name="ShowService" />
        </client>
    </system.serviceModel>
</configuration>